@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

@font-face {
  font-family: "Helvetica";
  src: url(../public/fonts/Helvetica.ttf) format(otf);
}

@font-face {
  font-family: "Helvetica-Light";
  src: url(/public/fonts/Helvetica-Neue-UltraLight.otf);
}

@font-face {
  font-family: "Helvetica-Neue";
  src: url(/public/fonts/HelveticaNeueLight.otf);
}

@font-face {
  font-family: "Bilmond";
  src: url(fonts/bilmond-extrabold.otf);
}

@font-face {
  font-family: "Sauce";
  src: url(fonts/OpenSauceOne-Black.woff2);
}

body {
  font-family: "Helvetica";
  background-color: #121212;
  font-size: 14px;
}

/* body::-webkit-scrollbar {
  display: none; 
} */

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-medium;
  }
}
