@import "tailwindcss";

@font-face {
    font-family: 'Helvetica';
    src: url(../public/fonts/Helvetica.ttf) format(otf);
}

@font-face {
    font-family: 'Helvetica-Light';
    src: url(/public/fonts/Helvetica-Neue-UltraLight.otf);
}

@font-face {
    font-family: 'Bilmond';
    src: url(../assets/fonts/bilmond-extrabold.otf);
}


body{
    font-family: 'Helvetica';
    background-color: #121212;
    font-size: 14px;
}