@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

:root {
  --primary: #0077b6;
  /* --secondary: */
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
}

/* * {

  box-sizing: border-box;
} */

body {
  font-family: "DMSans";
  background-color: #141111;
  font-display: swap;
}

/* s */

.btn-rounded {
  background: #d9d9d9;
  background: linear-gradient(
    0deg,
    rgba(217, 217, 217, 1) 0%,
    rgba(59, 59, 59, 1) 100%
  );
}

/* .card-info {
padding: 10px;
background: #121212;
background: linear-gradient(0deg, #121212, #565656);
} */

.border-card {
  border: 1px solid transparent;
  border-radius: 14px;
  background:
    linear-gradient(#212529, #212529) padding-box,
    linear-gradient(0deg, #475058 0%, #141111 40%) border-box;
}

.experience-time {
  background: #3b3b3b;
  background: linear-gradient(
    90deg,
    rgba(59, 59, 59, 1) 0%,
    rgba(130, 130, 130, 1) 100%
  );
}

.glass-card {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-effect{

  /* From https://css.glass */
background: rgba(255, 255, 255, 0.13);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.4px);
-webkit-backdrop-filter: blur(3.4px);
border: 1px solid rgba(255, 255, 255, 0.3);
}