---
interface Props {
  name: string;
  year: number;
  image: string;
  type: string;
}

const { name, year, image, type } = Astro.props;
---

<div class="w-auto h-auto flex relative group">
  <picture class="w-auto h-auto">
    {
      type == "Horizontal" ? (
        <img src={image} alt="projects-img" class="w-96 h-52 rounded" />
      ) : (
        <img
          src={image}
          alt="projects-img"
          class="w-full max-w-[200px] h-auto aspect-9/16 object-cover rounded-xl items-center"
        />
      )
    }
  </picture>

  <!-- Text header -->
  <div
    class="w-full h-10 bg-red-400 absolute group-hover:h-full transition-all ease-in-out 1ms bottom-0 rounded"
  >
    {name}

    <div
      class="w-full h-36 opacity-0 hidden group-hover:block group-hover:opacity-100 transition-all ease-in-out 1ms bg-blue-300"
    >
    </div>
  </div>
</div>
