---
interface Props {
    name:string,
    year:number,
    image:string,
}


const {name, year, image} = Astro.props;
---

<div class="w-96 h-50 flex  bg-neutral-500 relative group">
    
    <picture class="w-full h-50 bg-amber-300">
        <img src={image} alt="projects-img" class="w-full h-full">
    </picture>
    
    <!-- Text header -->
    <div class="w-full h-10 bg-white absolute opacity-0 group-hover:opacity-100 transition-all ease-in 1ms top-40">
        {name}
    </div>

</div>