<div class="w-96 h-50 bg-neutral-500 relative group">

    
    <!-- Text header -->
    <div class="w-full h-10 bg-white absolute opacity-0 group-hover:opacity-100 transition-all ease-in 1ms top-40">
        Proyecto 1
    </div>

</div>