---
interface Props {
    title?:string,
    year?:number,
    description?:string,
}

const {title, year, description} = Astro.props;
---

<section class="w-full h-[500px]  text-white">
    <div class="flex flex-row flex-wrap w-full h-auto ">
        <!-- divider -->
         <div class="w-50 h-3 "></div>

         <div class="w-full h-50 ">
            <h1>{title}</h1>
            <p class="text-neutral-500">
                {description}
            </p>
         </div>
    </div>
</section>