<section class="bg-[#151515] mt-2">
  <div class="overflow-hidden whitespace-nowrap w-full">
  <div class="flex animate-marquee">
    <span class="text-7xl font-[Helvetica Light] uppercase text-white pr-16">
      Creatividad · Inspiración · Movimiento · Historia · Emoción
    </span>
    <span class="text-7xl font-[Helvetica Light] uppercase text-white pr-16">
      · Creatividad · Inspiración · Movimiento · Historia · Emoción
    </span>
  </div>
</div>
</section>

<style>
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 9s linear infinite;
  }
</style>
