<section class="bg-[#151515] mt-2">
    <div class="flex flex-row w-auto h-60  text-center justify-center items-center">
        <marquee behavior="scroll" direction="left" scrollamount="6" loop >
            <p class="text-7xl font-[Helvetica Light] uppercase text-white">
                Creatividad · Inspiración · Movimiento · Historia · Emoción
            </p>
        </marquee>
    </div>
</section>