---
import Layout from "../../layouts/Layout.astro";
import { PROJECTS } from "../../const/projects";
import ContentVideo from "../../components/ContentVideo.astro";
import ContentDescription from "../../components/ContentDescription.astro";

export const getStaticPaths = () => {
  return PROJECTS.map((res: any) => ({
    params: { id: res.id },
  }));
};

const { id } = Astro.params;

const contentVideos = PROJECTS.find((video: any) => video.id == id);
console.log(contentVideos);
---

<Layout>
  <div class="w-full h-screen bg-red-500 flex flex-row justify-center">
    <section class="w-6xl h-auto bg-yellow-500 flex flex-col">
      <!-- Section video -->
      <ContentVideo></ContentVideo>

      <!-- Description -->
       <ContentDescription></ContentDescription>
      <!-- Destails -->
    </section>
  </div>
</Layout>
