<section
  id="about"
  class="bg-[#151515] w-auto h-screen mt-2 flex flex-row gap-2 justify-center items-center"
>


  <div
    class="flex flex-col gap-2 w-3xl h-[500px] justify-around items-center text-white"
  >
    <!-- title -->
    <div class="flex flex-row w-100 h-20 items-center justify-center">
      <h2 class="font-[Sauce]">Sobre Mi</h2>
    </div>
    <!-- text -->
    <div class="flex flex-col w-full max-w-xl h-auto font-[Helvetica-Light] text-base sm:text-lg md:text-xl lg:text-2xl leading-relaxed text-white px-4">
      <p>
        Mi nombre es Adrián Machado, <strong>editor de video y desarrollador web.</strong> 
        Comencé creando contenido en 2020-2021 pero más como un pasatiempo, especializándome en recopilaciones y montajes basados en
        material de distintas plataformas. Con el tiempo, fui perfeccionando mi
        estilo y mi enfoque narrativo, explorando la importancia del ritmo, el
        color y la emoción en cada edición. Me apasiona transformar ideas en
        historias visuales, buscando siempre que cada proyecto tenga identidad y
        propósito.
      </p>
    </div>
    <!-- softwares -->
    <div
      class="flex flex-row flex-wrap w-100 h-20 font-[Helvetica-Light] text-xl"
    >
      <h2 class="font-[Sauce] mx-auto">Software Utilizados</h2>

      <div
        class="flex flex-row w-100 h-20 justify-center items-center gap-2 font-[Helvetica] text-sm"
      >
        <span
          class="inline-flex items-center rounded-full bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-400 inset-ring inset-ring-gray-400/20"
          >Premiere Pro</span
        >

        <span
          class="inline-flex items-center rounded-full bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-400 inset-ring inset-ring-gray-400/20"
          >After Effects</span
        >

        <span
          class="inline-flex items-center rounded-full bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-400 inset-ring inset-ring-gray-400/20"
          >Photoshop</span
        >
      </div>
    </div>
  </div>
</section>
