<section
  class="bg-[#151515] w-auto min-h-9/12 mt-2 flex flex-row gap-2 justify-center items-center"
>
  <!-- section profile image -->
  <div class="flex flex-row w-3xl h-[500px] justify-center items-center">
    <picture class="w-72 h-96 flex justify-center bg-amber-800 rounded-2xl">
      <!-- <img src="images/linkedin-profile-new.jpg" class="w-full h-full object-contain" alt="profile-image"> -->
    </picture>
  </div>
  <!-- about me text -->
  <div
    class="flex flex-col gap-2 w-3xl h-[500px] justify-around items-center text-white"
  >
    <!-- title -->
    <div class="flex flex-row w-100 h-20 items-center justify-center">
      <h2 class="font-[Helvetica-Light] italic">Sobre Mi</h2>
    </div>
    <!-- text -->
    <div class="flex flex-row w-100 h-auto font-[Helvetica-Light] text-xl">
      <p>
        Mi nombre es Adrián Machado, Soy editor de video con más de tres años de
        experiencia trabajando de manera freelance.Comencé creando contenido
        para YouTube, especializándome en recopilaciones y montajes basados en
        material de distintas plataformas.Con el tiempo, fui perfeccionando mi
        estilo y mi enfoque narrativo, explorando la importancia del ritmo, el
        color y la emoción en cada edición.Me apasiona transformar ideas en
        historias visuales, buscando siempre que cada proyecto tenga identidad y
        propósito.
      </p>
    </div>
    <!-- softwares -->
    <div
      class="flex flex-row flex-wrap w-100 h-20 font-[Helvetica-Light] text-xl"
    >
      <h3>Software Utilizados</h3>

      <div
        class="flex flex-row w-100 h-20 justify-center items-center gap-2 font-[Helvetica] text-sm"
      >
        <div class="w-32 p-1 text-center bg-neutral-800 rounded-3xl">
          <p >Premiere Pro</p>
        </div>

        <div class="w-32 p-1 text-center bg-neutral-800 rounded-3xl">
          <p>Cap Cut</p>
        </div>

        <div class="w-32 p-1 text-center bg-neutral-800 rounded-3xl">
          <p>Photoshop</p>
        </div>
      </div>
    </div>
  </div>
</section>
