---
const date = new Date().getFullYear();

---

<section class="w-full h-20 bg-[#151515] mt-2 flex justify-center text-white items-center">
    <small >
        &copy;Todos los derechos reservados - Adrián Machado - {date}
    </small>
</section>