<header class="bg-[#151515] flex flex-row w-full justify-around h-24 fixed top-0 border-b border-b-neutral-800 z-20 backdrop-blur-lg ">
  <div class="flex flex-row  w-80 justify-center items-center gap-2">
    <div class="w-12 h-12 flex flex-row justify-center items-center">
      <img src="public/logo/logo-adrian.png" alt="" />
    </div>
    <div class="flex text-white">
      <a href="#">Adrian Machado</a>
    </div>
  </div>

  <nav class="flex flex-row w-100 ">
    <ul class="flex flex-row justify-center items-center text-white gap-2">
      <li><a href="#" class="hover:text-neutral-600 hover:transition-all ease-in 2ms">Inicio</a></li>
      <li><a href="#" class="hover:text-neutral-600 hover:transition-all ease-in 2ms">Sobre Mi</a></li>
      <li><a href="#" class="hover:text-neutral-600 hover:transition-all ease-in 2ms">Trabajos</a></li>
      <li><a href="#" class="hover:text-neutral-600 hover:transition-all ease-in 2ms">Contacto</a></li>
    </ul>
  </nav>
</header>
