<header class="bg-[#151515] flex flex-row w-full justify-around h-24 fixed top-0 border-b border-b-neutral-800 z-20 backdrop-blur-lg ">
  <div class="flex flex-row  w-80 justify-center items-center gap-2">
    <div class="flex flex-row w text-white">
      <a class="flex flex-row items-center gap-2" href="/">
        <div class="w-12 h-12 flex flex-row justify-center items-center">
          <img src="/logo/logo-adrian.png" alt="logo-header" />
        </div>
        Adrian Machado
      </a>
    </div>
  </div>

  <nav class="flex flex-row w-100 ">
    <ul class="flex flex-row justify-center items-center text-white gap-2">
      <li><a href="#" class="hover:text-neutral-600 hover:transition-all ease-in 2ms">Inicio</a></li>
      <li><a href="#about" class="hover:text-neutral-600 hover:transition-all ease-in 2ms">Sobre Mi</a></li>
      <li><a href="#projects" class="hover:text-neutral-600 hover:transition-all ease-in 2ms">Trabajos</a></li>
      <li><a href="#skills" class="hover:text-neutral-600 hover:transition-all ease-in 2ms">Habilidades</a></li>
    </ul>
  </nav>
</header>
