<section
  class="bg-[#151515] w-auto h-screen mt-2 flex flex-row justify-center items-center gap-2"
>
  <div class="flex flex-col w-3xl h-7/12  justify-center items-center">
    <div class="flex flex-col text-6xl text-white">
      <h2 class="font-[bilmond]">EDITOR DE VIDEO</h2>
      <h2 class="font-[bilmond]">EDITOR DE VIDEO</h2>
      <h2 class="font-[bilmond]">EDITOR DE VIDEO</h2>
    </div>

    <div
      class="flex bg-neutral-700 text-white w-40 h-10 rounded-2xl text-center flex-row justify-center items-center mt-2 font-[Helvetica-Light]"
    >
      <a href="#">Ver Proyectos</a>
    </div>
  </div>
  <div class="flex flex-row w-3xl h-auto bg-red-400 justify-center">
    <picture class="w-3xl h-auto bg-contain bg-red-500">
      <img
        src="/public/images/hero-background.jpg"
        class="w-3xl h-auto bg-cover"
        alt="hero_image"
      />
    </picture>
  </div>
</section>
