<section class="bg-[#151515] w-auto h-screen mt-2 flex flex-row justify-center items-center gap-2">
    <div class="flex flex-col w-3xl h-7/12 bg-amber-400">
        <h2 class="font-[bilmond]">EDITOR DE VIDEO</h2>
        <h2 class="font-[bilmond]">EDITOR DE VIDEO</h2>
        <h2 class="font-[bilmond]">EDITOR DE VIDEO</h2>

        <div class="flex">
            <a href="#">Ver Proyectos</a>
        </div>
    </div>
    <div class="flex flex-row w-3xl h-7/12 bg-red-400"></div>
</section>