<section
  id="hero"
  class="bg-[#151515] w-auto h-screen mt-2 flex flex-row justify-center items-center gap-2 relative"
>
  <div
    class="w-full h-screen absolute bg-[linear-gradient(to_right,#ffffff08_1px,transparent_1px),linear-gradient(to_bottom,#ffffff08_1px,transparent_1px)] bg-size-[50px_50px] mask-b-from-50% mask-t-from-50%"
  >
  </div>

  <!-- blur -->
  <div
    class="w-50 h-50 left-2 top-32 rounded-full blur-[100px] bg-neutral-400 opacity-60 absolute"
  >
  </div>

  <div class="flex flex-col w-full max-w-3xl h-auto justify-center items-center z-10 px-4">
    <span
      class="inline-flex items-center rounded-full bg-green-400/10 px-2 py-1 text-xs font-black text-green-400 inset-ring inset-ring-green-500/20 mb-4"
    >
      ⬤ OpenToWork</span
    >
    <div class="flex flex-col text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-white">
      <h4 class="font-[bilmond] text-flicker delay-1">EDITOR DE VIDEO</h4>
      <h4 class="font-[bilmond] text-flicker delay-2">EDITOR DE VIDEO</h4>
      <h4 class="font-[bilmond] text-flicker delay-3">EDITOR DE VIDEO</h4>
    </div>

    <a
      href="#projects"
      class="text-white border-white rounded-4xl box-border inset-ring inset-ring-white bg-neutral-900 hover:inset-ring-neutral-500 hover:transition-all ease-in 2ms shadow-xs font-medium leading-5 text-sm px-4 py-2.5 font-[Helvetica] mt-3"
      >Ver Proyectos</a
    >

    <!-- social media -->
    <div class="w-96 h-10 mt-5 flex flex-row gap-2 justify-center">
      <a
        target="_blank"
        href="https://www.instagram.com/adrian_webandframes/"
        class="w-10 h-10 rounded-full shadow-white flex justify-center items-center inset-ring inset-ring-white text-white hover:inset-ring-neutral-400 hover:text-neutral-400 transition-all ease-in 1s"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
          ></path><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
            d="M16.5 7.5v.01"></path></svg
        >
      </a>

      <a
        target="_blank"
        href="https://www.linkedin.com/in/machadoadrian/"
        class="w-10 h-10 rounded-full shadow-md flex justify-center items-center text-white inset-ring inset-ring-white hover:inset-ring-neutral-400 hover:text-neutral-400 transition-all ease-in 1s"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M8 11v5"></path><path d="M8 8v.01"></path><path d="M12 16v-5"
          ></path><path d="M16 16v-3a2 2 0 1 0 -4 0"></path><path
            d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z"
          ></path></svg
        >
      </a>

      <!-- <a href="#" class="w-10 h-10 rounded-full shadow-md flex justify-center items-center text-white inset-ring inset-ring-white  hover:inset-ring-blue-800 hover:text-blue-800">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 11v5" /><path d="M8 8v.01" /><path d="M12 16v-5" /><path d="M16 16v-3a2 2 0 1 0 -4 0" /><path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" /></svg>
      </a> -->
    </div>
  </div>
  <div class="flex flex-row w-3xl  h-auto justify-center z-10">
    <picture class="w-2xl h-auto  hidden bg-contain grayscale-100 md:block">
      <img
        src="/public/images/editor-video.png"
        class="w-3xl h-auto bg-cover"
        alt="hero_image"
      />
    </picture>
  </div>
</section>

<style>
  .text-flicker {
    animation-name: flicker;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
  }

  .delay-1 {
    animation-delay: 0s;
  }

  .delay-2 {
    animation-delay: 0.5s;
  }

  .delay-3 {
    animation-delay: 1s;
  }

  @keyframes flicker {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 0;
    }

    40% {
      opacity: 100;
    }

    60% {
      opacity: 0;
    }

    100% {
      opacity: 100;
    }
  }
</style>
