---
import CardSkills from "../components/CardSkills.astro";
import { ARTICLES } from "../const/articles";
---

<section
  class="bg-[#151515] w-full min-h-[50vh] mt-2 flex flex-row justify-center"
>
  <div class="w-7xl h-auto flex flex-col justify-start items-center gap-3 mt-2">
    {
      ARTICLES.map((res: any) => {
        <CardSkills
          icon={res.icon}
          title={res.title}
          description={res.description}
        />;
      })
    }
  </div>
</section>
