---
import CardSkills from "../components/CardSkills.astro";
import { ARTICLES } from "../const/articles";
---

<section
  class="bg-[#151515] w-full min-h-auto mt-2 flex flex-row justify-center items-start"
>
  <div class="flex flex-col w-5xl min-h-fit">
    <h1 class="font-[Sauce] text-white p-2">Habilidades</h1>
    <div class="w-full  grid grid-cols-1 md:grid-cols-3 gap-2 items-center p-3">
      {
        ARTICLES.map((res: any) => (
          <CardSkills
            icon={res.icon}
            title={res.title}
            description={res.description}
          />
        ))
      }
    </div>
  </div>
</section>
